body, h1, h2, h3, h4, h5, h6 {
  font-weight: 200; }

body {
  color: white;
  background: #0F5288;
  font-family: 'Roboto', helvetica; }

.hero {
  border-width: 0 0 2px 0px;
  border-style: solid;
  border-color: #03233B; }
  .hero h2 strong {
    color: #03233B; }

.sub {
  background: #579dd8; }
  .sub h3 {
    overflow: hidden;
    text-overflow: ellipsis; }
    .sub h3 strong {
      color: #0F5288; }
  .sub h4 strong {
    color: #0F5288; }

ul li.list-group-item {
  overflow: hidden;
  text-overflow: ellipsis; }

table {
  color: #333; }
  table a {
    text-decoration: underline; }

.panel {
  color: #333; }
  .panel .panel-heading h3.panel-title {
    overflow: hidden;
    text-overflow: ellipsis; }

.label-as-badge {
  border-radius: 1em; }

.breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis; }

footer {
  background: #03233B; }
  footer a, footer a:visited, footer a:hover, footer a:active {
    color: white; }

input {
  color: black; }

pre#output {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.qr_code {
  text-align: center;
  margin-bottom: 20px; }

#calculator .btn-group {
  width: 100%; }
  #calculator .btn-group label {
    width: 50%; }

#dashboard {
  margin-top: -20px; }
  #dashboard .panel {
    border-radius: 0; }
    #dashboard .panel h3 {
      margin: 10px 0; }
  #dashboard .panel-body {
    padding-top: 0; }

.alert {
  margin-top: 15px; }

#controls {
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #ddd;
  padding-left: 0;
  padding-right: 0; }
  #controls .btn-group-justified {
    margin-bottom: 10px; }
  #controls ul {
    list-style-type: none;
    margin-bottom: 0; }

.parent_folder, .parent_folder + ul {
  padding-left: 0; }

.parent_folder {
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd;
  height: 70px; }

.folder_icon {
  line-height: 70px; }

.parent_folder:hover, .parent_folder.active, ul.active {
  background: #f5f5f5; }

.requests li {
  height: 2em;
  line-height: 1.9em;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd; }

.requests li:first-of-type {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd; }

.requests li:last-of-type {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ddd; }

.requests li.active {
  background-color: #d9edf7; }

.http_verb {
  font-weight: bold;
  font-size: .7em; }

#title a, #title a:visited, #title a:hover, #title a:active {
  color: #333;
  text-decoration: none; }

.get {
  color: green; }

.post {
  color: orange; }

.put {
  color: blue; }

.delete {
  color: red; }

#panel .get, #panel .post, #panel .put, #panel .delete {
  text-transform: uppercase;
  font-weight: 200; }

#panel .get {
  background-color: green; }

#panel .post {
  background-color: orange; }

#panel .put {
  background-color: blue; }

#panel .delete {
  background-color: red; }

#panel #http_verb {
  color: white; }

#panel #send {
  background-color: #0F5288;
  color: white;
  font-weight: 200; }

#charts > section section {
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  padding: 10px 0; }

#charts .chart_link h3 a {
  text-decoration: underline; }

#charts .chart_link a {
  color: white; }

#charts .chart_img {
  text-align: center; }
  #charts .chart_img img {
    width: 225px; }

.devise_authy {
  margin-left: auto;
  margin-right: auto;
  width: 350px; }

.authy-form legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border-bottom: 1px solid #E5E5E5; }

.authy-form label,
.authy-form input,
.authy-form button {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding: 8px;
  margin: 8px; }

#docs {
  background: white;
  margin-top: -20px;
  color: #333; }
  #docs h1, #docs .h1,
  #docs h2, #docs .h2,
  #docs h3, #docs .h3,
  #docs h4, #docs .h4,
  #docs h5, #docs .h5,
  #docs h6, #docs .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333; }
  #docs img {
    width: 500px; }
  @media (min-width: 1200px) {
    #docs .container {
      width: 970px; } }
  #docs .blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1); }
  #docs .blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb; }
  #docs .blog-nav-item:hover,
  #docs .blog-nav-item:focus {
    color: #fff;
    text-decoration: none; }
  #docs .blog-nav .active {
    color: #fff; }
  #docs .blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent; }
  #docs .blog-header {
    padding-top: 20px;
    padding-bottom: 20px; }
  #docs .blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal; }
  #docs .blog-description {
    font-size: 20px;
    color: #999; }
  #docs .blog-main {
    font-size: 18px;
    line-height: 1.5; }
  #docs .sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px; }
  #docs .sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px; }
  #docs .sidebar-module-inset p:last-child,
  #docs .sidebar-module-inset ul:last-child,
  #docs .sidebar-module-inset ol:last-child {
    margin-bottom: 0; }
  #docs .pager {
    margin-bottom: 60px;
    text-align: left; }
  #docs .pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px; }
  #docs .blog-post {
    margin-bottom: 60px; }
  #docs .blog-post-title {
    margin-bottom: 5px;
    font-size: 40px; }
  #docs .blog-post-meta {
    margin-bottom: 20px;
    color: #999; }
  #docs .blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5; }
  #docs .blog-footer p:last-child {
    margin-bottom: 0; }

.jumbotron {
  text-align: center;
  margin: -20px 0 0 0;
  color: #333; }
  .jumbotron .dev_important {
    font-weight: bold;
    color: #03233B; }
  .jumbotron .download_description {
    font-size: 1em; }
  .jumbotron a {
    text-decoration: none; }

#tech_stack {
  background: white;
  color: #333;
  padding: 50px 0; }
  #tech_stack a {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    color: #333; }

h2 {
  font-weight: bold; }

#projects h3, #tech_stack h3 {
  margin-bottom: 50px;
  color: #5e5e5e; }

.logo {
  text-align: center;
  height: 90px; }

.bitcoin_logo {
  width: 300px; }

.rails_logo {
  width: 225px; }

.chef_logo {
  width: 225px; }

.projects {
  padding: 50px 0;
  background: #eee;
  color: #333; }
  .projects h3 {
    margin-bottom: 25px; }
  .projects h4 {
    margin-bottom: 25px; }
  .projects a:hover {
    text-decoration: none; }

#search_form {
  width: 75%;
  margin: -25px auto 0 auto; }

#profile {
  margin-top: -25px;
  padding-top: 1em;
  background: white;
  color: #333; }
  #profile #avatar {
    text-align: center; }
    #profile #avatar img {
      width: 250px;
      background: white;
      border-style: solid;
      border-width: 1px;
      border-color: #333;
      border-radius: 5px; }
  #profile h3 {
    font-size: 1.5em; }
  #profile .btn-group {
    margin: 25px 0; }
  #profile #chains .panel-body {
    padding: 0; }
  #profile #chains ul {
    list-style-type: none;
    padding-left: 0; }
    #profile #chains ul li {
      padding: 15px; }

.spinner {
  width: 10px;
  height: 10px;
  position: relative;
  margin: 10px auto; }

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

[hidden], template {
  display: none; }

.panel-title a {
  text-decoration: underline;
}
