$midnight_blue: #03233B;
$deep_ocean: #0F5288;
$shallow_stream: #579dd8;

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 200
}

body {
  color: white;
  background: $deep_ocean;
  font-family: 'Roboto', helvetica;
}

.hero {
  border-width: 0 0 2px 0px;  
  border-style: solid;
  border-color: $midnight_blue;

  h2 {
    strong {
      color: $midnight_blue;
    }
  }
}

.sub{
  background: $shallow_stream;
  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    strong{
      color: $deep_ocean;
    }
  }
  h4 {
    strong{
      color: $deep_ocean;
    }
  }
}

ul {
  li.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

table {
  color: #333;
  a {
    text-decoration: underline;
  }
}

.panel {
  color: #333;
  
  .panel-heading {
    h3.panel-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.label-as-badge {
    border-radius: 1em;
}

.breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  background: $midnight_blue;
  a, a:visited, a:hover, a:active {
    color: white;
  }
  
}

input {
  color: black;
}

pre#output {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
